@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'common.css';
/* @import 'buttons.css'; */
/* @import 'cards.css'; */
/* @import 'forms.css'; */
@import 'spinner.css';
@import 'toggle_switch.css';



@media (min-width: 768px) {
    .md\:table-cell {
        display: table-cell !important;
    }
}
@media (min-width: 1024px) {
    .lg\:table-cell {
        display: table-cell !important;
    }
}
@media (min-width: 1280px) {
    .xl\:table-cell {
        display: table-cell !important;
    }
}
